.container {
  width: clamp(500px, 45%, 1200px);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 10000;
  font-family: 'Bebas-Neue';
}

.cartMain {
    margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.shoppingCartTitle {
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}