.itemContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itemInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.priceAndQtyInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.photo {
    height: 120px;
    width: 120px;
    border-radius: 150px;
}

.btnsContainer {
    height: 30px;
    display: flex;
    flex-direction: row;
}

.name {
    font-size: 2rem;
}