@font-face {
  font-family: "Bebas-Neue";
  src: url(../resources/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-italic";
  src: url(../resources/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-italic";
  font-size: 2.6rem;
}

.bg {
  position: fixed;
  top: 0;
  width: clamp(100%, 180vh, 200vh);
  z-index: -99;
  opacity: 1;
}

.main {
  width: 100%;
  padding-top: 50px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.quote {
  margin: 3rem 2rem 0rem 2rem;
}

.btn {
  padding: 20px;
  height: 180px;
  border: none;

  border-radius: 5px;
  font-family: "Bebas-Neue";
  font-size: 8rem;
  text-align: end;
  background-color: rgb(61, 43, 31);
  color: rgb(232,232,232);
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  transition: 100ms;
}

.link {
  margin-right: clamp(15%, 35%, 800px);
  margin-left: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  text-decoration: none;

  display: flex;
  justify-content: end;
}
