@font-face {
    font-family: 'Bebas-Neue';
    src: url(../resources/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../resources/fonts/Poppins/Poppins-Medium.ttf);
}

.nav {
    font-family: 'Bebas-Neue';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 2%;
    margin-left: 3.5%;
    /* margin-left: 3rem; */
    width: 50%;
    font-size: 5rem;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.link {
    text-decoration: none;
    font-size: 4rem;
    color: black;
}

.cart {
    align-self: center;
}