@font-face {
  font-family: "Montserrat";
  src: url(../resources/fonts/Montserrat/static/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Bebas-Neue";
  src: url(../resources/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
  width: 400px;
  height: 530px;
  border-radius: 5px;
  /* box-shadow: 1px 0px 20px 0px rgb(103, 100, 99); */
}
.img:hover {
  opacity: 0.7;
}

.btnsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qtyBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.incrementBtn, 
.decrementBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: transparent;
  font-style: 'Montserrat';
  font-size: 70px;
  color: white;
}
/* .incrementBtn {
  height: 60px;
}
.decrementBtn {
  height: 70px;
} */

.quantity {
  font-family: 'Bebas-Neue';
  font-size: 80px;
  color: white;
}

.addToCartBtn {
  height: 2rem;
  width: 200px; 
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  font-family: 'Bebas-Neue';
  font-size: 2rem;
  color: white;
}


.item {
  width: 450px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas-Neue";
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0.3px 3px 10px 0px rgb(157, 153, 151); */
}

.title {
    padding-top: 1rem;
  font-family: "Bebas-Neue";
  font-size: 3rem;
}

.price {
    padding-bottom: 1rem;
  font-size: 2rem;
}
