@font-face {
  font-family: "Bebas-Neue";
  src: url(../resources/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

.nav {
  /* min-width: 780px; */
  font-family: "Bebas-Neue";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 2%;
  margin-left: 3.5%;
  /* margin-left: 3rem; */
  width: 50%;
  font-size: 5rem;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}  

@media only screen and (max-width: 800px) {
  .links {
    flex-direction: column;
    align-items: center;
  }
}

.link {
  text-decoration: none;
  font-size: 4rem;
  color: black;
}

.cartBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.quantity {
  position: absolute;
  right: 19px;
  bottom: 27px;
  z-index: 10;
  font-family: "Bebas-Neue";
  font-size: 22px;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .quantity {
    bottom: 20px;
  }
}

.link:hover {
  color: gray;
}

.cartBtn:hover {
  cursor: pointer;
  color: gray;
}

.cart:hover {
  stroke: gray;
}