.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
  width: 400px;
  height: 580px;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .img {
    width: 300px;
    height: 500px;
  }
}

.btnsContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.qtyBtnsContainer {
  height: 90px;
  width: 400px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 16px;

  position: relative;
}

.incrementBtn, 
.decrementBtn {
  font-family: "Helvetica";
  height: 80px; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.decrementBtn {
  padding-bottom: 15px;
  font-size: 100px;
}
.incrementBtn {
  padding-bottom: 19px;
  font-size: 90px;
}

.quantity {
  font-family: 'Bebas-Neue';
  font-size: 80px;
}

.addToCartBtn {
  height: 90px;
  width: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-family: 'Bebas-Neue';
  font-size: 3.75rem;
  color: black;
}

.item {
  width: 450px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
}

.info {
  width: 400px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas-Neue";
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 800px) {
  .info {
    width: 300px;
  }
  .qtyBtnsContainer {
    width: 300px;
  }
}

.title {
  padding-top: 1rem;
  font-family: "Bebas-Neue";
  font-size: 3rem;
  text-align: center;
}

.price {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.addToCartBtn:hover,
.decrementBtn:hover, 
.incrementBtn:hover {
  cursor: pointer;
}