.container {
  display: flex;
  justify-content: center;
}

.bg {
  position: fixed;
  top: -100px;
  width: clamp(100%, 180vh, 200vh);
  opacity: 0.3;
  z-index: -99;
}

.items {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 33.3%));
}

.itemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
